.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.details span {
  font-size: 12px;
  color: rgb(99, 98, 98);
  text-align: center;
}
.details input {
  font-size: inherit;
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
}
.details textarea {
  font-size: inherit;
  text-align: center;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}

.details-taskcard {
  font-size: 20px;
  margin: 10px 5px 20px 5px;
  border-radius: 5px;
  padding: 10px;
  gap: 8px;
  transition: 0.2s;
  width: 600px;
  height: 250px;
  position: relative;
}

.details-taskcard .title {
  text-align: center;
  margin: 15px 0 15px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(193, 193, 193);
}
.details-taskcard .goal {
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 0 30px 0 30px;
}
.details-taskcard .id {
  position: absolute;
  left: 0;
  top: 0;
  margin: 11px 0 0 15px;
  font-size: 16px;
}
.details-taskcard.completed {
  box-shadow: rgba(48, 114, 0, 0.5) 0px 2px 6px 2px;
}
.details-taskcard.completed:hover {
  box-shadow: rgba(48, 114, 0, 0.8) 0px 0px 10px 3px;
}
.details-taskcard.incomplete {
  box-shadow: rgba(163, 25, 0, 0.5) 0px 0px 10px 2px;
}
.details-taskcard.incomplete:hover {
  box-shadow: rgba(135, 20, 0, 0.9) 0px 0px 14px 3px;
}

button.save {
  background-color: darkslateblue;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
span.error {
  color: red;
}
