.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.details h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 90px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.details span {
  font-size: 12px;
  color: rgb(99, 98, 98);
  text-align: center;
}
.details input {
  font-size: inherit;
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
}
.details textarea {
  font-size: inherit;
  text-align: center;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}
.details ul {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;

  border-radius: 5px;
}
.details .header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
}
.details .lists-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}
.details .column {
  width: 50%;
}

.details-taskcard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  gap: 8px;
  transition: 0.2s;
  width: 600px;
  height: 250px;
  position: relative;
}

.details-taskcard .title {
  text-align: center;
  margin: 15px 0 15px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(193, 193, 193);
}
.details-taskcard .goal {
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 0 30px 0 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.details-taskcard .id {
  position: absolute;
  left: 0;
  top: 0;
  margin: 11px 0 0 15px;
  font-size: 16px;
}
.details-taskcard.completed {
  box-shadow: rgba(48, 114, 0, 0.5) 0px 2px 6px 2px;
}
.details-taskcard.completed:hover {
  box-shadow: rgba(48, 114, 0, 0.8) 0px 0px 10px 3px;
}
.details-taskcard.incomplete {
  box-shadow: rgba(163, 25, 0, 0.5) 0px 0px 10px 2px;
}
.details-taskcard.incomplete:hover {
  box-shadow: rgba(135, 20, 0, 0.9) 0px 0px 14px 3px;
}

.details button.btn-save,
.details button.btn-edit {
  background-color: darkslateblue;
  position: absolute;
  right: 22px;
  bottom: 17px;
}
.details button.status {
  font-size: 11px;
  color: #fff;
  position: absolute;
  right: 22px;
  top: 17px;
}
.details button.status.done {
  background-color: #be3434;
}
.details button.status.undone {
  background-color: #129762;
}
.details span.error {
  color: red;
}
