.login {
  margin-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  min-height: 340px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
}
.login .back-link {
  font-size: 12px;
}
.login span {
  margin-bottom: 10px;
}
.login h3 {
  padding-top: 15px;
  font-size: 24px;
  text-align: center;
}
.login-field {
  display: flex;
  padding-top: 40px;
  align-items: center;
  flex-direction: column;
  height: 230px;
  width: 400px;
}
.login-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form input {
  height: 35px;
  font-size: 18px;
  padding: 7px;
  border: 1px solid #878787;
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
  width: 75%;
}
