.tasklist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.tasklist h1 {
  font-size: 28px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.tasklist ul {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;

  border-radius: 5px;
}

.tasklist .header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
  margin-bottom: 30px;
}

.lists-wrap {
  display: flex;
  justify-content: space-between;
  min-width: 800px;
}

.column {
  width: 50%;
}

span {
  font-size: 20px;
  font-weight: bold;
}

/* TaskList component transition animations */
.task-card-enter {
  opacity: 0;
}
.task-card-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.task-card-exit {
  opacity: 1;
}
.task-card-exit-active {
  opacity: 0;
  transition: opacity 0ms;
}
