.addtask {
  margin: 50px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px, rgba(0, 0, 0, 0.1) 0px 6px 6px;

  border-radius: 5px;
  width: 100vw;
  min-width: 800px;
  max-width: 1200px;
}

.addtask form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.addtask label {
  font-size: 20px;
  margin-right: 5px;
}

.addtask input {
  font-size: 18px;
  padding: 7px;
  border: 1px solid #878787;
  border-radius: 5px;
  flex-grow: 1;
  margin: 10px;
}

.addtask button {
  font-size: 18px;
  padding: 7px 10px;
  margin: 10px;
  background-color: #129762;
}
