.taskcard {
  background-color: transparent;
  min-width: 150px;
}
.taskcard .goal {
  font-size: 14px;
}

.taskcard li {
  font-size: 20px;
  margin: 20px 5px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  transition: 0.2s;
}

.taskcard li.completed {
  box-shadow: rgba(48, 114, 0, 0.5) 0px 2px 6px 2px;
}
.taskcard li.completed:hover {
  box-shadow: rgba(48, 114, 0, 0.8) 0px 3px 8px 2px;
}
.taskcard li.incomplete {
  box-shadow: rgba(163, 25, 0, 0.5) 0px 4px 10px 2px;
}
.taskcard li.incomplete:hover {
  box-shadow: rgba(135, 20, 0, 0.8) 0px 5px 12px 2px;
}

.taskcard button.delete {
  background-color: #be3434;
}

.taskcard .title {
  text-align: center;
  margin: 15px 0 15px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(193, 193, 193);
}
.buttons-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.goal {
  padding: 0px 15px 15px 15px;
}
button.status {
  background-color: #129762;
}
button.status.done {
  background-color: darkslateblue;
}
