.taskcard {
  background-color: transparent;

  min-width: 150px;
}

.taskcard .goal {
  font-size: 14px;
  padding: 0px 15px 15px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.taskcard li {
  font-size: 20px;
  margin: 20px 5px;
  border-radius: 25px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  transition: 0.2s;
  height: 180px;
  overflow: hidden;
  text-align: center;
}

.taskcard .title {
  text-align: center;
  margin: 15px 0 15px 0;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.buttons-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.taskcard button {
  font-size: 12px;
}
.taskcard button.status {
  background-color: #129762;
}
.taskcard button.status.done {
  background-color: darkslateblue;
}
.taskcard button.delete {
  background-color: #be3434;
}
